<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/admin-layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>

        <div layout:fragment="content" style="margin: 0;
  position: absolute;   
  top: 50%;
  left: 47%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">	
             <div class="container-fluid" >

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="404">404</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
                        <a th:href="@{/admin/dashboard}">&larr; Back to Shop</a>
                    </div>

                </div>
        </div>

    </body>
</html>